<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Chatroom</title>
        <link rel='stylesheet' href='/public/css/style.css' />
    </head>
    <body>
        <a href="/logout">Logout</a>
        <div class="rooms-container">
            <main class="room-list">
                <div class="room-sidebar">
                    <h2><i class="room-list"></i>Rooms</h2>
                    <ul id="rooms">
                        <li>Room</li>
                        <li>Room</li>
                    </ul>
                </div>
                <div class="chat-messages"></div>
            </main>
            <div class="room-form-container">
                <form action="" method="POST">
                    <input type="text" name="roomname" id="roomname" placeholder="Room name">
                    <input type="submit" value="Create">
                </form>
            </div>
        </div>
    </body>
</html>