<!DOCTYPE html>
<html>
  <head>
    <title>Mastermind</title>
    <link rel='stylesheet' href='public/css/style.css' />
    <script src='/lib/axios.min.js'></script>
    <script src='/public/js/skrypt.js'></script>
  </head>
  <body>
    <div id="ui">
      <div id="top">
        <div id="newgame">
          <div id="form-container">
            <label for="size">Size:</label><br>
            <input type="number" id="size" name="size" value="5" min="1" max="30"><br>
            <label for="dim">Difficulty:</label><br>
            <input type="number" id="dim" name="dim" value="9" min="2" max="9"><br>
            <label for="max">Tries:</label><br>
            <input type="number" id="max" name="max" value="0" min="0" max="99"><br><br>
            <button id="new-game" onclick="newGame()">New Game</button>
          </div>
        </div>
        <div id="currentgame">
          <div id="score">
            <div>
              <h2>Blacks: <span id="black-score">#</span></h2>
              <h2>Whites: <span id="white-score">#</span></h2>
            </div>
            <div>
              <h2>Left: <span id="unrated">#</span></h2>
              <h2>Tries left: <span id="tries-left">#</span></h2>
            </div>
          </div>
          <div id="guess-container">
            <input type="number" id="guess" name="guess" placeholder="???" min="0" value="0">
            <button id="guess-btn" onclick="guess()">Guess</button>
          </div>
        </div>
      </div>
      <div id="log"></div>
    </div>
  </body>
</html>